.nav {
    background-color: #0E2836;
    color: seashell;
    font-size: medium;
    width:16%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.avatar_nav{
    display: flex;
    flex-direction: column;
    margin-top: 20%;
    height: 200px;
    align-items:flex-start;
}
.avatar {

    width: 100px;
    height: 100px;
    border-radius: 50%; /* Make the image round */
    object-fit: cover;
  
    /* Add background properties */
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.data__nav{

}
.charts__nav{

}