.page__pie {
    width: 100vw;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: row;
    /* #092633 */
  }
  
  /* For width under 700px */
  @media (max-width: 700px) {
    .page__pie {
      width: 100vw;
      height: 100vh;
      color: white;
      display: flex;
      flex-direction: column; /* Change to column */
    }
  }